/*
Theme Name: 	Betheme Child
Theme URI: 		http://themes.muffingroup.com/betheme
Author: 		Muffin group
Author URI: 	http://muffingroup.com
Description:	Child Theme for Betheme - Premium WordPress Theme
Template:		betheme
Version: 		1.6.1.1
*/

/* Theme customization starts here
-------------------------------------------------------------- */

.validate_email_against_bot {
    display: none;
}

.header-fixed #Top_bar{
    background-color:transparent !important;
    box-shadow: none;
}
#Top_bar .menu>li>a{
    color: #fff !important;
}
